.container{
    margin: 50px 0;
}

.card{

    margin: 0 2% !important;
}

.infected{
    border-bottom: 10px solid rgb(157, 112, 199);
}

.recovered{
    border-bottom: 10px solid rgb(92, 233, 123);
}

.deaths {
    border-bottom: 10px solid rgb(228, 67, 94);
}

@media (max-width: 770px) {
    .card{
        margin: 2% 0 !important;
    }
}